<!--Acá se renderizarán todos lo productos-->
<div>
    <h1>Listado de Productos</h1>
</div>
<div id="productList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>